<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/maven/.m2/</localRepository>
    <servers>
        <server>
            <id>staging</id>
            <username>mvnuser</username>
            <password>example</password>
        </server>
        <server>
            <id>production</id>
            <username>mvnuser</username>
            <password>example</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>default-profile</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>default-profile</id>
            <properties>
                <!-- the db host is set in the publish.properties because it differs between staging and production -->
                <!-- <experiment.configuration.db.host>example.com</experiment.configuration.db.host> -->
                <!-- this default admin password is only used on staging -->
                <experiment.configuration.admin.password>examplechangethis</experiment.configuration.admin.password>
                <experiment.configuration.db.password>examplechangethis</experiment.configuration.db.password>
            </properties>
        </profile>
    </profiles>
</settings>