<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/maven/.m2/</localRepository>
    <servers>
        <server>
            <id>staging</id>
            <username>mvnuser</username>
            <password>example</password>
        </server>
        <server>
            <id>production</id>
            <username>mvnuser</username>
            <password>example</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>default-profile</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>default-profile</id>
            <properties>
                <experiment.configuration.admin.password>example</experiment.configuration.admin.password>
               <!-- todo: db host and password should go in the publish.properties so that the frinexapps image is agnostic to the machine it runs on -->
                <experiment.configuration.db.password>example</experiment.configuration.db.password>
            </properties>
        </profile>
    </profiles>
</settings>